.button {
  border-radius: 8px;
  width: 150px;
  height: 40px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  cursor: pointer;
  background-size: 200% auto;
  box-shadow: 0 4px 6px rgba(54, 54, 113, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-image: linear-gradient(
    to right,
    #895cf2 0%,
    #ffabf4 50%,
    #895cf2 100%
  );
  transition: 0.5s;
  display: flow;
  margin: auto;
}

.button:hover {
  background-position: right center;
}
